<footer class="footer">
  <nav>
    <ul>
      <li><a href="https://github.com/bishwahang/">Github</a></li>
      <li><a href="https://github.com/bishwahang/shadow_tweet/">Project Code </a></li>
    </ul>
  </nav>
</footer>